        <!-- Taps -->
        <div ng-repeat="keg in kegs | filter:query | orderBy:orderProp" class="content-row">
            <div class="column1 beerPic icon-beer" style="color: {{ lovibondUIColor( keg.srm_lovibond ) }}">&nbsp;</div>
            <div class="column2 beerName">
                <div class="keg_name">{{keg.name}}</div>
                <div class="keg_style">{{keg.style}}<br />{{keg.brewery}}</div>
            </div>
            <div class="column3 beerInfo">{{keg.abv}}<br /><div>ABV</div><img ng-src="images/{{keg.ibu}} Hops.png" width="200"></div>
            <div class="column4 beerStatus"><img ng-src="images/kegs/{{keg.status}}.png" width="80"></div>
        </div>