/* Layout Start */

html, body {
    height:100%;
}

header{
	color: #545f40;
    background: #bfd39b;
    width: 100%;
    position: fixed; 
    top: 0;
	z-index:10;
}

.content {
	color: #545f40;
	font-size: 1.2em;
    position:relative;
    height: 100%;
	top: 90px; /* Header height */
    margin:0 auto 30px auto; /* Center content */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

footer {
    width: 100%;
    background: #bfd39b;
    position: fixed; 
    bottom: 0;
    height: 30px;
}

/* Layout End */

.header {
	display: inline-block;
	width: 100%;
}

.headerboxa {
	display: inline-block;
	width: 100%;
	height: 60px;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
}

.titleBar {
	height: 25px;
	position: relative;
	background: #a3a3a3;
	border-top: 1px white dashed;
	font-size: 1em;
/*	text-align: center;*/
	font-weight: bold;
	font-style:italic;
}

.column1 {
	display: inline-block;
	width: 140px;
	margin-left: 20px;
	vertical-align: top;
}

.column2 {
	display: inline-block;
	width: 580px;
	padding-left: 10px;
	border-left: 1px white dashed;
	border-right: 1px white dashed;
	vertical-align: top;
}

.column3 {
	display: inline-block;
	width: 140px;
	border-right: 1px white dashed;
	vertical-align: top;
}

.column4 {
	display: inline-block;
	width: 135px;
	vertical-align: top;
}

.beerPic {
    font-size: 128px;
	height: 155px;
}

.beerName {
	height: 155px;
}

.beerInfo {
	text-align: center;
	font-size: 1.8em;
	height: 155px;
}

.beerStatus {
	height: 155px;
}

.keg_name {
	font-size: 1.5em;
	font-weight: bold;
	word-wrap: break-word;
}

.keg_style {
	font-size: 1em;
}

#attribution {
	float: right;
	color: #545f40;
        -webkit-margin-before: 4px;
}

/*Angular UI Bootstrap CSS, do not remove unless removing Angular UI */
.nav, .pagination, .carousel a { cursor: pointer; }


/*
[
    { "srmLovibond" : 2, "example" : "Pale lager, Witbier, Pilsener, Berliner Weisse", "beerColor" : "#F8F753", "ebc" : 4 },
    { "srmLovibond" : 3, "example" : "Maibock, Blonde Ale", "beerColor" : "#F6F513", "ebc" : 6 },
    {  "srmLovibond" : 4, "example" : "Weissbier", "beerColor" : "#ECE61A", "ebc" : 8 },
    {  "srmLovibond" : 6, "example" : "American Pale Ale, India Pale Ale", "beerColor" : "#D5BC26", "ebc" :12 },
    {  "srmLovibond" : 8, "example" : "Weissbier, Saison", "beerColor" : "#BF923B", "ebc" :16 },
    {  "srmLovibond" : 10, "example" : "English Bitter, ESB", "beerColor" : "#BF813A", "ebc" :20 },
    {  "srmLovibond" : 13, "example" : "Biere de Garde, Double IPA", "beerColor" : "#BC6733", "ebc" : 26 },
    {  "srmLovibond" : 17, "example" : "Dark lager, Vienna lager, Marzen, Amber Ale", "beerColor" : "#8D4C32", "ebc" : 33 },
    {  "srmLovibond" : 20, "example" : "Brown Ale, Bock, Dunkel, Dunkelweizen", "beerColor" : "#5D341A", "ebc" : 39 },
    {  "srmLovibond" : 24, "example" : "Irish Dry Stout, Doppelbock, Porter", "beerColor" : "#261716", "ebc" : 47 },
    {  "srmLovibond" : 29, "example" : "Stout", "beerColor" : "#0F0B0A", "ebc" : 57 },
    {  "srmLovibond" : 35, "example" : "Foreign Stout, Baltic Porter", "beerColor" : "#080707", "ebc" : 69 },
    {  "srmLovibond" : 40, "example" : "Imperial Stout", "beerColor" : "#030403", "ebc" : 79 }
]
*/